name: Verify NSIS Installer (No Sign)

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write   # Required for softprops/action-gh-release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install NSIS
      run: choco install nsis -y

    - name: Add NSIS to PATH
      run: echo "C:\Program Files (x86)\NSIS" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
  
    - name: Copy inetc plugin DLLs
      shell: bash
      run: |
        rm -rf plugins Plugins
        curl -o Inetc.zip https://nsis.sourceforge.io/mediawiki/images/c/c9/Inetc.zip
        unzip Inetc.zip
        cp Plugins/x86-unicode/INetC.dll "C:/Program Files (x86)/NSIS/Plugins/x86-unicode/inetc.dll"
        cp Plugins/x86-ansi/INetC.dll "C:/Program Files (x86)/NSIS/Plugins/x86-ansi/inetc.dll"
        rm Inetc.zip
        
    - name: Compile NSIS installer
      run: makensis LYTEInstaller.nsi

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: LYTE_Installer
        path: LYTE_Installer.exe

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          LYTE_Installer.exe
        name: "Latest Release"
        tag_name: latest
        make_latest: true
        body: |
          <img src="https://github.com/ossign.png" alt="OSSign Logo" width="100" height="100" />
          # Signed Release ${{ github.event.inputs.release_name }}
          
          These are the distributable files for the signed release of ${{ env.SOURCE_REPOSITORY_NAME }} ${{ github.event.inputs.release_name }}

          The source code was fetched from https://github.com/${{ env.SOURCE_REPOSITORY }}@${{ github.event.inputs.source_branch }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
